#closedMenu{
    background-color: white;
    position: absolute;
    right: 0px;
    width: 4vw;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}

.icon{
    margin-bottom: 5vh;
}

.sobre{
    margin-top: 30vh;
}

.pink path{
    fill: #EA4B7B;
}