.parent{
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right:50px;
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.avatar h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

.description{
    composes:avatar;
    max-width: 50vw;

}

.nome{
    text-transform: capitalize;
}

.imgAvatar{
object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.descriptionText{
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0 70px;
    color: white;
}

.descriptionCep{
    composes:descriptionText;
    transform: translateY(-50%);
    width: 50px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin:0;
}

.animTypewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.quemTitle{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cepContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}
.quemTitle hr{
    border-width: 2px 0 0 0;
    border-color: white;
    width: 50%;
    margin: 0;
}

.quemTitle p{
    color: #EA4B7B;
}

.buttonPrimary{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #EA4B7B;
    border: 2px solid #EA4B7B;
    box-sizing: border-box;
    font-weight: 400;
    color: white;
    padding: 16px 30px;
    font-size:1rem;
    margin-right: 36px;
}

.buttonSecundary{
    font-family: 'IBM Plex Sans', sans-serif;
    background: transparent;
    border: 2px solid #EA4B7B;
    box-sizing: border-box;
    font-weight: 400;
    color: white;
    padding: 16px 33px;
    font-size:1rem;
}

.buttonsDiv{
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.hiddenComponent{
    visibility: hidden;
}

.shownComponent{
    visibility:visible;
}

@media screen and (max-width: 600px){
    .description, .avatar{
        max-width: 70vw;
    }
    .buttonPrimary{
        margin: 10px 0;
    }
    .descriptionText{
        margin: 0;
    }
    .cepContent{
        max-width: 65%;
    }
}